/*first banner start*/
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
    width: auto;
    height: 600px;



}
.banner-content{
    padding: 160px;

}
.profile-pic{
    width: 450px;
    max-height: 500px;
    margin: 0px 150px -100px 0px;
}
.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 47px;
    font-style: normal;
    font-weight: 900;

}
.banner-discription{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
}
.btn-primary{
    display: inline-flex;
    padding: 11px 23px;
    border: none;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    font-weight: 600;

}
/*first banner end*/
.heading{
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: Lato;
    padding-top: 90px;
}
.heading-title{
    color: #272727;
    font-size: 33px;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    font-family: Lato;
}
.heading-discription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    font-family: Lato;

}
.image-container{
    margin: auto;
    max-width: fit-content;
    display: flex;


}

.image1{
    width: 200px;
    height: 300px;
    padding: 67px 75px 0 75px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    
}
.image2{
    width: 200px;
    height: 300px;
    padding: 67px 75px 0 75px;
    margin-left: 20px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);


}
.image3{
    width: 200px;
    height: 300px;
    padding: 67px 75px 0 75px;
    margin-left: 20px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.image-text{
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration: underline;
    padding: 10px;
}
.sale-banner-content{
    padding: 200px;

}

.sale-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: auto;
    height: 420px;
}
.sale-heading-title{
    color: #272727;
    font-size: 27px;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    font-family: Lato;
}
.sale-heading-discription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    font-family: Lato;

}
.sign-up-btn{
    margin: auto;
    display: grid;
    padding: 13px 27px;
    border: none;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
}
.sale-profile-pic{
    width: 210px;
    height: 280px;
    padding-right: 250px;
}

.instra-image-container{
    margin: auto;
    max-width: fit-content;
    display: flex;
    padding-top: 20px;


}
.instra-image1{
    width: 212px;
    height: 240px;
}
.instra-image{
    width: 212px;
    height: 240px;
    padding-left: 15px;
}

.deals{
    margin: auto;
    max-width: fit-content;
    padding-top: 90px;
}
.deals-image{
    width: 940px;
    height: 300px;
    border-radius: 8px;
}